@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand: #527555;
    --color-brand-light: #b2c5ba;
    --color-brand-dark: #395139;
    --color-text: #222;
    --color-white: #fff;
  }

  ::selection {
    background-color: var(--color-brand);
    color: var(--color-white);
  }

  body {
    background: radial-gradient(
        50% 50% at 50% 50%,
        #ffffff 0%,
        #ffffff 0%,
        rgba(82, 117, 85, 0) 0.01%,
        rgba(82, 117, 85, 0.26) 100%
      ),
      #ffffff;
  }

  .landing-bg {
    background: radial-gradient(
        50% 50% at 50% 50%,
        #ffffff 0%,
        #ffffff 0%,
        rgba(82, 117, 85, 0) 0.01%,
        rgba(82, 117, 85, 0.26) 100%
      ),
      #ffffff;
  }

  .breath-circle {
    animation: breath-circle 4s ease-in-out 500ms infinite alternate;
  }

  .expanding-line {
    animation: expanding-line 1s ease-in-out 500ms forwards;
  }
}

@layer components {
  @keyframes breath-circle {
    0% {
      transform: scale(0.25);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes expanding-line {
    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }
  }
}
