@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand: #527555;
    --color-brand-light: #B2C5BA;
    --color-brand-dark: #395139;
    --color-text: #222;
    --color-white: #fff;
  }
}